body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 500px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border: black solid 3px;
    border-radius: 20px;
    background-color: pink;
    padding: 10px;
}


.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 350px;
    justify-content: space-between;
    padding: 10px 20px;
}

.screen {
    display: flex;
    border: black solid 2px;
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: right;
    font-family: monospace;
    font-size: 30px;
    background-color: rgb(112, 167, 112);
    margin: 0px 10px;
    padding: 0px 5px;
}

button {
    display: flex;
    flex: 1;
    border: black solid 2px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: rgb(219, 118, 133);
    color: white;
    font-weight: bold;
    margin: 0px 10px;
    filter: drop-shadow(2px 5px  rgb(150, 113, 119))
}

.clear {
    flex-grow: 0;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 60px;
    font-size: 20px;
    background-color: white;
    color: black;
}