body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: lightblue;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    height: 500px;
    border: black solid 3px;
    border-radius: 20px;
    background-color: pink;
    padding: 10px;
}


.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    width: 350px;
    padding: 10px 20px;
}

.screen {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    height: 100px;
    margin: 0px 10px;
    padding: 0px 5px;
    border: black solid 2px;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(112, 167, 112);
    color: rgb(1, 1, 124);
}

button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin: 0px 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    border: black solid 2px;
    filter: drop-shadow(2px 5px  rgb(150, 113, 119));
    background-color: rgb(219, 118, 133);
}

.clear {
    flex-grow: 0;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 60px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.equal,
.operator {
    background-color: rgb(156, 101, 140);
}